.TransactionModal-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 24, 0.95);
}

.TransactionModal-modal {
    height: 270px;
    width: 420px;
    background: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.TransactionModal-body {
    flex: 1;
    padding: 32px;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: 100px auto;
    justify-content: center;
    align-items: center;
}

.TransactionModal-label {
    display: inline;
}

.TransactionModal-button-box {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
    height: 50px;
    width: 100%;

}

.TransactionModal-button {
    color: #FFFFFF;
    border: none;
    font-size: 24px;
    margin-left: 3px;
    border-radius: 3px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TransactionModal-icon-button {
    width: 40px;
    height: 40px;
}

.close {
    background: #BA1818;
}

.submit {
    background: #0C780C;
}


.hidden {
    display: none;
}
