.Table-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 50px;
}

.Table-add-jar-button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table-add-jar-button-icon {
    height: 32px;
    width: 32px;
}
