.App {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template:
    "head head" 160px
    "table chart" 1fr / 1fr 1fr;
}

.App-head {
  grid-area: head;
  background: #282c34;
}

.App-table {
  grid-area: table;
  background: #282c34;
  resize: horizontal;
  overflow: auto;
  border-right: 1px solid #BBBBBB;
}

.App-chart {
  grid-area: chart;
  /*resize: both;*/
  overflow: auto;
}
